@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html lang="en">

<head>
<meta charset="utf-8" />
@*<meta http-equiv="refresh" content="5; url='/Home/About'" />*@
    <title>JavaScript Example</title>

    <script src="~/js/script.js"></script>
</head>
<body>
    <h1>Static</h1><h1>Dynamic</h1>

    <noscript>JavaScript Is Not Enabled</noscript>
</body>
</html>