@{
    ViewData["Title"] = "Home Page";
}

<p class="btn">
    <a href="http://www.youtube.com">
        <img src="~/images/rollover-btn.png" alt="Hyperlink to YouTube" width="192" height="67" />
    </a>
</p>

<div>
    <img id="chart" src="~/images/chart.png" alt="Chart Image" title="ssd" />
    <p id="links">
        <a href="javascript:toggle()">Show/Hide Chart</a>
        <a href="mailto:wendy@example.com">Email Wendy</a>
    </p>
</div>

<img src="~/images/fish.png" width="200" height="150" alt="Fish" />
<img src="~/images/fish.png" width="150" height="112" alt="Fish" />
<img src="~/images/fish.png" width="100" height="75" alt="Fish" />

<p><abbr title="HyperText Markup Language">HTML</abbr>5 in easy steps</p>
<p><cite title="Inventor of the HyperText Markup Language">Sir Tim Berners-Lee</cite></p>
<p><dfn title="The popular language of the WorldWideWeb. Commonly abbreviated to 'HTML'">HyperText Markup Language</dfn></p>
<p>
    <kbd title="Press Y key on your keyboard to execute a script. This requires JavaScript to be enabled in your browser">
        Hit Y to Continue
    </kbd>
</p>

<p>
    This program assigns an input value to <var>degF</var> then performs a conversion on that value,
    assigning the reesult to <var>degC</var> for output
</p>

<pre>
<code>
    #include &lt;iostream&gt;
    using namespace std;
    int main()
    {
        float degF, degC;
        cout &lt;&lt; "Enter Fahrenheit Temperature:";
        cin &gt;&gt; degF;
        degC = ((degF - 32.0) * (5.0/9.0));
        cout &lt;&lt; degF &lt;&lt; "F is " &lt;&lt; degC &lt;&lt; "C";
        cout &lt;&lt; endl;
        return 0;
    }
</code>
</pre>
<data value="978-1-84078-719-1">C++ Programming in easy steps, 5th Edition</data>
<time datetime="2016-12-15">(December 15th, 2016)</time>

<p>Square of four: 4&sup2; = 16<br />Cube of four: 4&sup3; = 64</p>
<p>Square of four: 4<sup>2</sup> = 16<br />Cube of four: 4<sup>3</sup> = 64</p>
<p>Water: H<sub>2</sub>O<br />Oil of Vitriol: H<sub>2</sub>SO<sub>4</sub></p>

<h1>Text-Art Signature</h1>
<pre>
       ---- __@@ 
     ---- _`\(,_ 
    ---- (*)/ (*)       MIKE'S PUSHBIKES
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
</pre>

<p>Microsoft Surface Pro 4 <wbr />- 128 GB / Intel Core i5 </p>
<p><s>£999</s> £799</p>
<p>
    Memory: <mark>4GB</mark>
    <br />Screen: <mark>12.3-inch</mark>
</p>
<p>Surface <u>Penn</u> Included</p>

<p>
    Example Corp today announced record conflicts for the second quarter
    <small>(Full Disclosure: EG News is a subsidary of Example Corp)</small>
    , leading to speculation about a merger with Demo Group.
</p>

<h1>To Do List</h1>
<p>Empty the dishwasher</p>
<del><p>Take out the trash</p></del>
<p><del>Take out the trash</del></p>
<ins><p>Sweep the yard</p></ins>
<ins><p>Feed the <del>dog</del><ins>cat</ins></p></ins>

<p>
    <strong>Warning</strong>This dungeon is dangerous.
    <strong>Avoid the ducks.</strong>Take any gold you find.
    <strong>Do not take any of the diamonds, they are explosive.</strong>
    You have been warned.
</p>

<p><em>Puppy dogs</em> are cute.</p>
<p>Puppy dogs <em><strong>are</strong></em> cute.</p>
<p>Puppy dogs are <em>cute.</em></p>

<blockquote cite="http://www.example.com/origin.html">
    A Blockquote Flow Block!<br />Paul said,<q>
        I saw Emma at lunch, she told me
        <q>Susan wants you to get some ice cream on your way home</q>
        I think I will get some at Ben and Jerry's on Main Street.
    </q>
</blockquote>

<p>A Paragraph flow Block!</p>


<h1>The Statue of Liberty</h1>
<p>
    The Statue of Liberty was built over nine years by French sculpture Auguste Bartholdi.<br>
    Upon its completion in1884 all 350 individual pieces of the statue were packed into <br> 214 crates
    for the long boat ride from France to New York
</p>

<hr />

<p>
    The statue arrived in America several months later and was reconstructed on <br>Liberty Island.
    Auguste Bartholdi thought that the New York harbour was the perfect <br> setting for his masterpiece
    because it was where immigrants gor their first view of <br> the New World
</p>

<h1>Static</h1>
<h1>Dynamic</h1>
<h1>Styled Heading</h1>

<noscript>JavaScript Is Not Enabled</noscript>