@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="refresh" content="5; url='/Home/About'" />
    <title>Getting Started</title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>