body {
}

h1{
    color: red;
    background: yellow;
    border: 10px groove aqua;
    padding: 5px;
    width:550px;
}

p {
    border: 1px solid red;
}

blockquote {
    border: 1px solid green;
}

q{
    background: aqua;
}

img#chart{
    visibility: hidden;
    height: 0px;
}

p#links{
    padding: 5px;
    border: 3px double green;
    width: 200px;
}

p.btn {
    width: 192px;
    height: 67px;
    background: url("/images/rollover-bg.png");
}

p.btn a{
    display: block;
    width: 192px; height:67px;
}

p.btn a img {
    border: 0px;
}

p.btn a:hover img{
    visibility: hidden;
}

ul.disc-bullets{
    list-style-type: disc;
    float: left;
}

ul.circle-bullets {
    list-style-type: circle;
    float: left;
}

ul.square-bullets {
    list-style-type: square;
    float: left;
}

ul.image-bullets {
    list-style-image: url("/images/go.png");
    clear: both;
}

ol{
    display: table-cell
}

ol#list-2{
    padding-right: 20px;
}

ol#list-3{
    list-style-type: upper-roman;
    padding-left: 50px;
    border-left: 3px dashed;
}