body {
}

h1{
    color: red;
    background: yellow;
    border: 10px groove aqua;
    padding: 5px;
    width:550px;
}

p {
    border: 1px solid red;
}

blockquote {
    border: 1px solid green;
}

q{
    background: aqua;
}

img#chart{
    visibility: hidden;
    height: 0px;
}

p#links{
    padding: 5px;
    border: 3px double green;
    width: 200px;
}
